<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../Scripts/angular.min.js"></script>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="panel panel-default" ng-app="app">
        <div class="panel-body" ng-controller="demoController">
            <div>
                Test in Chrome and Firefox. IE10+ slider does not work.
                Move the slider to see AngularJS two way binding. This was created using a directive.
                <!--<div dm-slider-value>
            Only the original content should be replaced if setting replace:true in directive. The div with attribute will be present.
        </div>-->
                <dm-slider-value> The attribute and original content should be replaced by setting replace:true in the directive.</dm-slider-value>
            </div>
        </div>
    </div>
    <script>
        // FOLDER SCRIPTS | FILE app
        (function () {
            'use strict';
            var app = angular.module('app', []);

            // CONTROLLERS
            // FOLDER SCRIPTS | FOLDER controllers | FILE controllers.js
            // Main controller
            app.controller('demoController', ['$scope', function ($scope) {
                $scope.aNumber = 100;
            }]);
            app.directive('dmSliderValue', function () {
                return {
                    restrict: 'AE', // A=attribute, C=class, E=element, M=comment
                    replace: true, // replace existing element tag.
                    template: "<div><input type='range' ng-model='aNumber' value='100' min='100' max='2000' step='25' style='width: 140px'><br /> " +
                        "Change the number in the text box to demonstrate two way binding.<br /> " +
                        "<input type='text' ng-model='aNumber' min='100' max='2000' value='100'></div>"
                };
            });
        })();
    </script>
</body>
</html>
