<br />
<div>
    <br />
    <br />
    <p>
        Enter your first and last name all lower case. The custom filter nameCase will upper case first and last name.
        <br />
        <label>First and Last Name:</label> {{firstLast}}.
        <br />
        <input type="text" ng-model="firstLast" />
        <br />
        <label>Name with proper casing:</label> {{firstLast | nameCase}}
        </p>
</div>
<br />
<iframe width="100%" height="300" src="http://jsfiddle.net/Stanomatic/46VGR/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
