<br />
<br />
<div>
    <p>
        Test in Chrome and Firefox. IE10+ slider does not work.
        Move the slider to see AngularJS two way binding. This was created using a directive and isolated scope.
    </p>
    <dm-slider-isolated-scope the-number='firstNumber'> The attribute and original content should be replaced by setting replace:true in the directive.</dm-slider-isolated-scope><br />
    <dm-slider-isolated-scope the-number='secondNumber'> The attribute and original content should be replaced by setting replace:true in the directive.</dm-slider-isolated-scope><br />
    <dm-slider-isolated-scope the-number='thirdNumber'> The attribute and original content should be replaced by setting replace:true in the directive.</dm-slider-isolated-scope><br />
</div>
<br />
<iframe width="100%" height="300" src="http://jsfiddle.net/Stanomatic/s9eT9/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

